<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /2025/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /2025/index.html [L]
</IfModule>
